.logo{
    font-family: 'Roboto';
    font-size:16px;
    color:#000;
    cursor:pointer;
}

.first{
    display: flex;
}

.menu{
    width: 1000px;
    height: 80px;
    margin:0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}

.first p{
    font-size:16px;
    font-family: 'Roboto';
    cursor:pointer;
}

.myPictures{
    color:#757575;
    margin:0 0 0 50px;
}

.mainPage{
    color:#000;
    margin:0 0 0 50px;
}

.second{
    display: flex;
}

.second p{
    color:#0085FF;
    font-family: 'Roboto';
    font-size:16px;
    cursor:pointer;
}

.signUp{
    margin-left:50px;
}

.toRight{
    display: grid;
    justify-items: end;
}

@media screen and (max-width: 1005px) {
    .menu{
        width: 95%;
        height: 80px;
        margin:0 auto;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
        padding:0 10px 0 10px;
    }
}

@media screen and (max-width: 860px) {
    .menu{
        width: 95%;
        height: 80px;
        margin:0 auto;
        display: grid;
        align-items: center;
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (max-width: 670px) {
    .menu{
        width: 100%;
        height: 80px;
        margin:0 auto;
        display: flex;
        align-items: center;
        overflow: scroll; 
      
        
    }

    .second{
        margin:0 0 0 50px;
    }

    .menu::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.menu { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.menu { overflow: -moz-scrollbars-none; }
}